<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<meta name="description" content="">

		<meta name="keywords" content="">

		<title>山西泽瑞浩栋金属结构加工有限公司</title>

		<link href="default/style/webstyle.css" rel="stylesheet" type="text/css" />

		<script src="default/js/jquery-1.11.3.min.js"></script>

		<script src="default/js/unslider-min.js"></script>

		<SCRIPT src="default/js/ScrollPic.js" type=text/javascript> </SCRIPT> <script src="default/js/lrtk.js"></script>

	</head>



	<body>

		<!--header start-->
		<div class="header">
			<div class="fl">
				<!-- <img src="templates/default/images/logo.jpg" width="255" height="129" /> -->
				<img src="img/20180914141932_37127.jpg">
			</div>
			<div class="nav">
				<ul>
					<li><a href="index.php">
							<h4>网站首页</h4>
							HOME
						</a></li>

					<li><a href="index.php?p=about&lanmu=3">
							<h4>关于我们</h4>
							About Us
						</a></li>
					<li><a href="index.php?p=products_list&lanmu=2">
							<h4>产品中心</h4>
							Product
						</a></li>
					<li><a href="index.php?p=products_list&lanmu=4">
							<h4>案例展示</h4>
							Case
						</a></li>
					<li><a href="index.php?p=news_list&lanmu=1">
							<h4>新闻中心</h4>
							News
						</a></li>
					<li><a href="index.php?p=about&lanmu=13">
							<h4>人才招聘</h4>
							Recruit
						</a></li>
					<li><a href="index.php?p=gbook_list&lanmu=6">
							<h4>在线留言</h4>
							Message
						</a></li>
					<li><a href="index.php?p=about&lanmu=9">
							<h4>联系我们</h4>
							Contact Us
						</a></li>
				</ul>
			</div>
		</div>
		<div class="banner">
			<ul>
				<li><a href="#"><img src="img/20180917144357_60927.jpg" /></a></li>
				<li><a href="#"><img src="img/20180914151557_99143.jpg" /></a></li>
			</ul>
		</div>
		<script>
			$(function() {
				$('.banner').unslider({
					dots: false, //点导航
					autoplay: true, //自动播放
					speed: 400, //播放速度
					delay: 5000, //轮播间隔
					arrows: false, //是否显示左右箭头
					fluid: true, //是否支持响应式
				});
			});
		</script>
		<!--header end-->

		<!--mainbody start-->

		<div class="main">

			<div class="left">

				<div class="pro_list_bg">

					<div class="pro_list_title">


						ABOUT US


						<h4>关于我们</h4>

					</div>

					<div class="pro_list">

						<ul>




							<li><a href="index.php?p=about&lanmu=3&id=10">关于我们</a></li>


						</ul>

						<div class="cl"></div>

					</div>

				</div>

			</div>

			<div class="right">

				<div class="pro_top">

					<div class="pro_title">关于我们


						<span>ABOUT US</span>


					</div>

					<div class="pro_tr">当前位置：<a href="index.php">首页</a>&gt;关于我们</div>

				</div>

				<div class="news_text">

					<h4>关于我们</h4>

					<div style="text-indent:2em;">
						<p style="text-indent:2em;">
							<span style="line-height:2.5;"> </span>
						</p>
						<p style="text-indent:2em;">
							<span style="line-height:2.5;"><span style="line-height:30px;">山西泽瑞浩栋金属结构加工有限公司主要从事市政围挡，工程围挡，铁艺护栏，锌钢护栏，钢结构玻璃工程，彩钢工程。我公司产品具有安装拆除快捷，坚固美观等特点受市政建设单位青睐，受客户广泛好评。</span></span>
						</p>
						<p style="text-indent:2em;">
							<span style="line-height:2.5;"><span style="line-height:30px;">优良的产品，至诚至善的服务，形成核心竞争优势，关键是满足客户需求。公司将以快的建设速度让销售服务网络覆盖全省，让每一位客户能得到及时、高效的产品及服务。</span></span><span>公司将以快的建设速度让销售服务网络覆盖全省，让每一位客户能得到及时、优良的产品及服务。采用符合标准的耐腐蚀性工艺、外形美观、环保，真正意义上做到色彩丰富、透视感强、运输方便、装卸方便、二次使用率高等特点。</span>
						</p>
						&nbsp; &nbsp; &nbsp; &nbsp;公司将继续本着质量为本，用户至上的原则，为社会各界的用户提供满意的安装工程服务。与社会各界的用户携手合作，互惠互利，共同发展。<br />
						<p>
							<br />
						</p>
						<p style="text-align:center;">
							<img src="../uploadfile/image/20180920/20180920160631_71796.jpg" alt="" />
						</p>
						<p style="text-indent:2em;">
							<span style="line-height:2.5;"><br />
							</span>
						</p>
						<p style="text-align:center;">
							<span style="line-height:2.5;"><br />
							</span>
						</p>
					</div>

					　　
				</div>

			</div>

			<div class="cl"></div>

		</div>

		<div class="rec_bg">

			<div class="mainbody">

				<div class="left">

					<div class="contact_bg">

						<div class="contact_tel"><img src="templates/default/images/contact_tel.jpg" width="54" height="59" />

							<h4>全国咨询电话：</h4>

							13363586310

							<div class="cl"></div>

						</div>

						<div class="con_bg">

							<div class="con_title">联系我们　<span>contact us</span></div>

							<div class="con">

								<p>
									<img src="uploadfile/image/20170106/20170106024253_26149.png" alt="" />山西泽瑞浩栋金属结构加工有限公司
								</p>
								<p>
									<img src="uploadfile/image/20170106/20170106024259_80878.png" alt="" />联系人：温经理
								</p>
								<p>
									<img src="uploadfile/image/20170106/20170106024306_12911.png" alt="" />联系电话：13363586310
								</p>
								<p>
									<img src="uploadfile/image/20170106/20170106024312_85621.png" alt="" />联系地址：山西省吕梁市文水县西旧村
								</p>

							</div>

						</div>

					</div>

				</div>

				<div class="rec_part">

					<div class="rec_top"><span class="rec_title">产品中心<span>PRODUCTS</span></span> <span class="rec_more"><a href="index.php?p=products_list&lanmu=2">MORE+</a></span></div>

					<div id="demo" style="overflow:hidden;width:888px;">

						<table border="0" cellspacing="0" cellpadding="0">

							<tr>

								<td id="demo1">
									<table width="888" border="0" cellspacing="0" cellpadding="0">

										<tr>

											<!--循环开始-->




											<td>
												<div class="rec"><a href="index.php?p=products_show&lanmu=2&c_id=20&id=165"><img src="img/201910211978.jpg"
														 width="239" height="265" /></a>
													<div class="rec_fon">市政围挡</div>
												</div>
											</td>


											<td>
												<div class="rec"><a href="index.php?p=products_show&lanmu=2&c_id=15&id=170"><img src="img/201910211978.jpg"
														 width="239" height="265" /></a>
													<div class="rec_fon">锌钢护栏</div>
												</div>
											</td>


											<td>
												<div class="rec"><a href="index.php?p=products_show&lanmu=2&c_id=15&id=173"><img src="img/201910211978.jpg"
														 width="239" height="265" /></a>
													<div class="rec_fon">锌钢护栏</div>
												</div>
											</td>


											<td>
												<div class="rec"><a href="index.php?p=products_show&lanmu=2&c_id=15&id=171"><img src="img/201910211978.jpg"
														 width="239" height="265" /></a>
													<div class="rec_fon">锌钢护栏</div>
												</div>
											</td>


											<td>
												<div class="rec"><a href="index.php?p=products_show&lanmu=2&c_id=15&id=174"><img src="img/201910211978.jpg"
														 width="239" height="265" /></a>
													<div class="rec_fon">锌钢护栏</div>
												</div>
											</td>


											<!--循环结束-->

										</tr>

									</table>
								</td>

								<td id="demo2"></td>

							</tr>

						</table>

					</div>

					<script>
						var speed = 30

						demo2.innerHTML = demo1.innerHTML

						function Marquee() {

							if (demo2.offsetWidth - demo.scrollLeft <= 0)

								demo.scrollLeft -= demo1.offsetWidth

							else {

								demo.scrollLeft++

							}

						}

						var MyMar = setInterval(Marquee, speed)

						demo.onmouseover = function() {
							clearInterval(MyMar)
						}

						demo.onmouseout = function() {
							MyMar = setInterval(Marquee, speed)
						}
					</script>

				</div>

				<div class="cl"></div>

			</div>

		</div>

		<a href="#0" class="cd-top">Top</a>

		<!--mainbody end-->

		<!--footer start-->
		<div class="copyright">
			<table class="ke-zeroborder" width="100%" border="0">
				<tbody>
					<tr>
						<td>
							<br />
						</td>
						<td align="center">
							<p style="text-align:center;">
								<span><span><span><span><span style="line-height:2.5;font-size:16px;color:#FFFFFF;">版权所有：</span><span style="line-height:2.5;font-size:16px;color:#FFFFFF;">山西泽瑞浩栋金属结构加工有限公司</span><span
												 style="line-height:2.5;font-size:16px;color:#FFFFFF;">&nbsp; </span><span style="line-height:2.5;font-size:16px;color:#FFFFFF;">联系电话：13363586310&nbsp;&nbsp;&nbsp;
													13120003109 </span> </span> </span> </span> </span>
							</p>
							<p style="text-align:center;">
								<span><span><span><span><span style="line-height:2.5;font-size:16px;color:#FFFFFF;">联系地址：山西省吕梁市文水县西旧村</span><span
												 style="line-height:2.5;font-size:16px;color:#FFFFFF;"> &nbsp;</span><span style="color:#FFFFFF;"><span
													 style="line-height:2.5;font-size:16px;color:#FFFFFF;">备案号：晋ICP备18010898号</span></span></span></span></span></span>
							</p>
							<p style="text-align:center;">
								<span><span><span><span><span><span style="line-height:2.5;font-size:16px;color:#FFFFFF;">技术支持：</span><a href="http://www.longcai0351.com/"
													 target="_blank"><span style="line-height:2.5;font-size:16px;color:#FFFFFF;">江航科技（山西）有限公司</span></a><span
													 style="line-height:2.5;font-size:16px;color:#FFFFFF;">---</span><a href="http://www.longcai0351.com/"
													 target="_blank"><span style="line-height:2.5;font-size:16px;color:#FFFFFF;">山西地区营销服务中心</span></a><span
													 style="line-height:2.5;font-size:16px;color:#FFFFFF;">&nbsp;（</span><a href="http://www.longcai0351.com/"
													 target="_blank"><span style="line-height:2.5;font-size:16px;color:#FFFFFF;">山西网站建设</span></a><span style="line-height:2.5;font-size:16px;color:#FFFFFF;">&nbsp;&nbsp;</span><a
													 href="http://www.longcai0351.com/" target="_blank"><span style="line-height:2.5;font-size:16px;color:#FFFFFF;">山西推广</span></a><span
													 style="line-height:2.5;font-size:16px;color:#FFFFFF;">）</span></span></span></span></span></span><span><span><span><span>
											</span> </span> </span> </span>
							</p>
						</td>
						<td>
							<span><span><span><span><span><img src="uploadfile/image/20170106/20170106023456_14155.png" alt="" /> </span>
										</span> </span> </span> </span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--footer end-->
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?f30b6017fef6b1e1d3330bc3ec56f431";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>

	</body>

</html>